<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Users</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<h1>Online Users</h1>
<ul id="onlineUsers"></ul>

<script>
    var stompClient = null;
    function connect (event){
        var socket = new SockJS('/chat');  // Kết nối tới WebSocket endpoint
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            // Subscribe để nhận danh sách người dùng online
            stompClient.subscribe('/topic/online-users', function (message) {
                console.log("aaa")
                console.log(message)
                var onlineUsers = JSON.parse(message.body);
                console.log(onlineUsers)
                updateOnlineUsers(onlineUsers);
            });
        });
    }

    function updateOnlineUsers(users) {
        const onlineUsersList = document.getElementById('onlineUsers');
        onlineUsersList.innerHTML = '';  // Clear the list

        users.forEach(function(user) {
            const li = document.createElement('li');
            li.textContent = user;
            onlineUsersList.appendChild(li);
        });
    }
    window.addEventListener("DOMContentLoaded",connect)
</script>
</body>
</html>